# Сборка и артефакты
Debug/
Release/
/cmake-build-debug
/tests/build/
*.elf
*.bin
*.hex
*.map
*.su
*.o
*.d

.idea/

# Настройки IDE
.settings/
.metadata/
*.launch

# Временные файлы ОС
.DS_Store
Thumbs.db
